<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
        .container{
            margin: auto;
            width: 50%;
            padding: 30px;
            background-color: #e2e2e2;
        }
    </style>
  </head>
  <body>
    <div class="container">
      <h1 data-th-text="${firstName}">Welcome to home Page</h1>
      <p>Occupation: <span data-th-text="${occupation}"></span></p>
      <p>Address: <span th:text="${address}"></span></p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus vel,
        nobis ea eos, officia ratione atque placeat consequatur fuga provident
        nam esse error laudantium deserunt sequi aperiam fugit et ullam.
      </p>
    </div>
  </body>
</html>
